@model MyResumeOfWPF.PDO.EducationRow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EducationRow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EducationRowId" />
            <div class="form-group">
                <label asp-for="SchoolnameColumn" class="control-label"></label>
                <input asp-for="SchoolnameColumn" class="form-control" />
                <span asp-validation-for="SchoolnameColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajoyColumn" class="control-label"></label>
                <input asp-for="MajoyColumn" class="form-control" />
                <span asp-validation-for="MajoyColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartColumn" class="control-label"></label>
                <input asp-for="StartColumn" class="form-control" />
                <span asp-validation-for="StartColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodColumn" class="control-label"></label>
                <input asp-for="PeriodColumn" class="form-control" />
                <span asp-validation-for="PeriodColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageColumn" class="control-label"></label>
                <input asp-for="StageColumn" class="form-control" />
                <span asp-validation-for="StageColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
