@model MyResumeOfWPF.PDO.BasicinfoRow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BasicinfoRow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BasicinfoRowId" />
            <div class="form-group">
                <label asp-for="NameColumn" class="control-label"></label>
                <input asp-for="NameColumn" class="form-control" />
                <span asp-validation-for="NameColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressColumn" class="control-label"></label>
                <input asp-for="AddressColumn" class="form-control" />
                <span asp-validation-for="AddressColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeColumn" class="control-label"></label>
                <input asp-for="AgeColumn" class="form-control" />
                <span asp-validation-for="AgeColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailColumn" class="control-label"></label>
                <input asp-for="EmailColumn" class="form-control" />
                <span asp-validation-for="EmailColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhonenumberColumn" class="control-label"></label>
                <input asp-for="PhonenumberColumn" class="form-control" />
                <span asp-validation-for="PhonenumberColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceColumn" class="control-label"></label>
                <input asp-for="ExperienceColumn" class="form-control" />
                <span asp-validation-for="ExperienceColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
